/*
    General Styles
*/

.thedarkness {
    background-color: black;
}
.border {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 6px solid black !important;
  border-radius: 4px;
}